  <div>
    <nav class="navbar navbar-transparent navbar-absolute">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  data-toggle="collapse"
                  data-target="#navigation-example-2"
                  @click="toggleNavbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="logo">
            <router-link to="/" tag="div" class="simple-text logo-mini">
                <div class="logo-img">
                    <a>
                      <img :src="logo" alt="">
                    </a>
                </div>
            </router-link>
          </div>
          
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <router-link to="/" tag="li">
              <a>Home</a>
            </router-link>
            <router-link to="/about" tag="li">
              <a>About</a>
            </router-link>
          </ul>
        </div>
      </div>
    </nav>

    <div class="wrapper wrapper-full-page">
      <div class="full-page login-page" data-color="dark-vox-blue"
           data-image="/static/img/background/background-2.jpg" >
        <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
        <div class="content">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-sm-12 col-md-offset-2">
                
                  <div class="card" data-background="color" data-color="blue">
                    <div class="card-header">
                      <h3 class="card-title"></h3>
                    </div>
                    <div class="card-content">
                      <div class="row">
                        <div class="col-md-6 col-sm-6 text-left">
                          <ol> 
                            <li><h5>1. Download VoX Wallet on your phone.</h5></li>
                            <li><h5>2. Press login within the app.</h5></li>
                            <li><h5>3. Point camera at the QR code displayed here.</h5></li>
                            <li><h5>4. Your account will automatically load.</h5></li>
                          </ol>
                        </div>
                        <div class="col-md-6 col-sm-6">
                          <div class="hello">
                            <div v-if="!showQr">
                              <button class="btn btn-primary" @click="syncAccount">Sync desktop wallet</button>
                            </div>
                            <div v-if="loading && showQr">
                              Deploying a login session contract to the blockchain in your honour. <br/><br/>
                              <img class="alignnone" src="https://cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif" alt="" width="48" height="48">
                            </div>
                            
                            <div v-if="showQr && !loading">
                              <img :src="logoV" alt="v" class="vox-logo-in-qr" >
                              <!-- <qrcode-vue id="qr-code" :value="value" :size="size" level="H" foreground="#002a6d"></qrcode-vue> -->
                              <qrcode-vue id="qr-code" :value="loginSessionContractAddress" :size="size" level="H" :foreground="qrColor"></qrcode-vue>
                            </div>
                          </div>
                        </div>
                        <button @click="showSweetAlert('copied')" v-clipboard="loginSessionContractAddress"  v-if="loginSessionContractAddress && showQr && !loading" class="btn btn-outline-secondary">{{ loginSessionContractAddress }}</button>
                      </div>
                    </div>
                    <div class="card-footer text-center">
                    </div>
                  </div>
            
              </div>
            </div>
          </div>
        </div>

        <footer class="footer footer-transparent">
          <div class="container">
            <div class="copyright">
              &copy; Coded with
              <i class="fa fa-heart heart"></i> by
              <a href="https://variusworldtech.com" target="_blank">Varius World Tech</a>.
            </div>
          </div>
        </footer>
        <div class="full-page-background"></div>
      </div>
    </div>
    <div class="collapse navbar-collapse off-canvas-sidebar">
      <ul class="nav nav-mobile-menu">
        <router-link to="/" tag="li">
          <a>Home</a>
        </router-link>
        <br/>
        <router-link to="/about" tag="li">
          <a>About</a>
        </router-link>
      </ul>
    </div>
  </div>
